/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
.site-container{
    max-width:$site-width;
    width: 100%;
    margin: 0 auto;
    display: flex;
    height: 100%;
}


/* Posts and pages */

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}

.site-content{
    display: flex;
	height: auto;
}

.content-area{
    flex: 0 0 68%;
    padding-top: 50px;
}

.content-area{
    border-right: 1px solid $color_brand_border;
}
.site-main{
    padding-top: 50px;
}

.format-standard{
    padding: 0 50px 30px 150px;
}

.wp-post-image{
    width: 100%;
    height: 100%;
}

.entry-header{
    position: relative;
    color: $color_general;
    text-transform: uppercase;
    font-family: $font_family-header, serif;
    h2{
        font-size: 2em;
    }
}

.post{

    .entry-title{
    line-height: 1.25em;
    position: absolute;
    padding: 10px 30px;
    width: 72%;
    background-color: $color_brand_nav;
    margin-top: 1.25em;
    font-size:2.25em;
    top: 0;

        a, a:visited{
            color: $color_general;
            text-decoration: none;
        }

        a:hover{
            color: $color_brand_link;
        }
    }

.entry-meta{
    position: absolute;
    background-color: $color_brand_nav;
    bottom: 7px;
    right: 0;
    padding: 5px 15px;
}

}

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/* Comments */

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}

.site{
	width: 100%;
	height:100%;
}

.comments-area{
    padding: 0 50px 30px 150px;
}

/* Products Page */


.product-content-area{
    .type-products{
        display: flex;
    }

    .entry-header{
        flex: 0 0 50%;
        padding: 40px 10px;
        height: 20%;
    }

    .entry-content{
        flex: 0 0 50%;
        padding: 0 20px;
        line-height: 4rem;

        p{
            line-height: 2rem;
        }

        .shop-social-media{
            display: flex;
            flex-direction: row;
        }

        .entry-title{
            color: $color_brand_outline;
            text-transform: uppercase;
            margin: 0;
            letter-spacing: 1px;
        }

        .entry-price{
            font-family: $font_family-header, serif;
            font-size: 2rem;
        }
        .general-button{
            line-height: 1.75rem;
            text-transform: uppercase;
            font-family: $font_family-header, serif;
            margin: 5px;
            i{
                width: 30%;
            }
        }
    }
}

