/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

.site-footer{
    background-image: url("../../images/dark-wood.png");
    bottom:0;
    width: 100%;
    height:45%;
    display: flex;
    justify-content: center;
    color: #ffffff;

    .site-info{
        flex-wrap: wrap;
        padding: 40px;

        .secondary {
            flex: 0 0 50%;
            display: flex;
            flex-direction: row;

            .footer-sidebar1{
                flex: 0 0 50%;
            } 
            .footer-sidebar2{
                flex: 0 0 50%;
            }
        }

        .footer-logo{
            flex: 0 0 50%;
            
            .footer-inhabitent-logo{
                display: flex;
                justify-content: flex-end;
                right: 0;
                padding-top: 10px;
                width: 100%;
                img{
                    width: 50%;
                }
            }
        }

        .credit{
            flex: 0 0 100%;
            margin: 0 auto;
            text-transform: uppercase;
            font-family: $font_family-header, sans-serif;
            text-align: center;
            align-self: flex-end;
        }
    }
}
.site-footer {
    background: url(../../images/dark-wood.png);
    background-size: 512px 512px;
    color: #fff
}
.site-footer a {
    color: #fff;
    text-decoration: none
}
.site-footer a:hover {
    text-decoration: underline
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.3),
only screen and (-webkit-min-device-pixel-ratio: 1.25),
only screen and (min-device-pixel-ratio: 1.3),
only screen and (min-resolution: 120dpi) {
    .site-footer {
        background: url(../../images/dark-wood@2x.png);
        background-size: 512px 512px
    }
}
.footer-blocks {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}
.footer-blocks h3 {
    color: #d99054;
    font-size: 19.2px;
    font-size: 1.2rem;
    margin-bottom: .75rem;
    text-transform: uppercase
}
.footer-blocks p {
    margin-bottom: .5rem
}
.footer-blocks i {
    font-size: 20px;
    font-size: 1.25rem;
    margin-right: .5rem
}
.footer-blocks .day-of-week {
    font-weight: 700
}
.footer-block-item {
    margin: 3rem 0;
    padding-right: 1.5rem;
    width: 25%
}
.footer-block-item:last-child {
    padding-right: 0;
    width: 50%
}
.footer-block-item .text-logo {
    margin-top: 1rem;
    text-align: right
}
.footer-block-item .text-logo img {
    max-width: 50%
}
.site-info {
    font-family: Novecento Sans Web, sans-serif;
    padding: 1.5rem 0;
    text-align: center;
    text-transform: uppercase
}