/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/


.site-header{
    width: 100vw;
    height: 50px;
    font-family: $font_family-header, serif;
    text-transform: uppercase;
    position: fixed;
    background-color: rgba(255,255,255,0.85);
    z-index: 1;
    border-bottom: 1px solid $color_brand_border;
}

.site-branding{
    flex: 0 0 20%;

    .header-logo{
        display: flex;
        height: 100%;
        background:
            url("../../images/inhabitent-logo-tent.svg") no-repeat center;
        background-size: contain;
        width: 55px;
    }
}

.main-navigation{
    flex: 0 0 80%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .menu-main-menu-container {
        width: 75%;
        display: flex;
        justify-content: flex-end;
        .menu {
            padding: 0 2px;
            width: 100%;
            display: flex;
            justify-content: flex-end;

            li{
                margin: 0 2%;
            }
        }
        .selectric-wrapper { display: none; }

        @media (max-width: 600px) {
            .menu { display: none; }
            .selectric-wrapper { display: flex; }
        }
    }

    .menu-toggle{
        color: $color_brand_nav;
        display: none;
    }
}


/*-----Search Form-----*/

.search-form{
    display: inline-block;
    .search-form-fieldset{
        border: 0;
        padding: 0;
        .search-submit{
            box-shadow: none;
            border: 0;
            text-shadow: none;
            padding: 0;
            background: none;

            color: $color_brand_nav;
            i {
                font-size: $font_size-main;
            }
        }
        input[type=search] {
            border: 0;
            background: rgba(255, 255, 255, 0);
        }
    }
}

.search-field{
    transition: all 0.5s;
    width: 0px;
    visibility: hidden;
    font-family: $font_family-header, serif;
}


.search-field-open {
    transition: all 0.5s;
    visibility: visible;
    width: 170px;
}

button:focus{
    outline: none;
}

input[type=search]:focus{
    box-shadow: none;
}

