// Structure

$base__space-unit: 1.5rem;
$site-width: 1120px;
$color__background-body: #fff;
$color__text-main: #404040;
$color__background-screen: #f1f1f1;
$color__text-screen: #21759b;
$color__background-hr: #ccc;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__border-abbr: #666;
$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: midnightblue;
$color_brand_nav: #248A83;
$color_brand_outline: #d99054;
$color_brand_hover: #2f1339;
$color_brand_link: #f0e4d1;
$color_brand_border: #e1e1e1;
$color_brand_background: #808080;
$color_general: #fff;
$font__main: sans-serif;
$font__code: Monaco, Consolas, "serif", "sans-serif", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;
$font_family-main: 'merriweather'; 
$font_family-header: 'novecento';
$font_size-main: 16px;
