/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

.site-footer{
  background-image: url("../../images/dark-wood.png");
  bottom:0;
  width: 100%;
  height:45%;
  display: flex;
  justify-content: center;
  color: #ffffff;

  .site-info{
      flex-wrap: wrap;
      padding: 40px;

      .secondary {
          flex: 0 0 50%;
          display: flex;
          flex-direction: row;

          .footer-sidebar1{
              flex: 0 0 50%;
          } 
          .footer-sidebar2{
              flex: 0 0 50%;
          }
      }

      .footer-logo{
          flex: 0 0 50%;
          
          .footer-inhabitent-logo{
              display: flex;
              justify-content: flex-end;
              right: 0;
              padding-top: 10px;
              width: 100%;
              img{
                  width: 50%;
              }
          }
      }

      .credit{
          flex: 0 0 100%;
          margin: 0 auto;
          text-transform: uppercase;
          font-family: sans-serif;
          text-align: center;
          align-self: flex-end;
      }
  }
}