/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/


footer {
  display: flex;
  width: 100%;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  width: 1120px;
}
.site-info{
  background:url("../../images/dark-wood.png");
  bottom:0;
  width: 100%;
  height:45%;
  display: flex;
  justify-content: space-between;
  color: white;
  position: relative;
  top: 205px;
}
.uppercase {
  text-transform: uppercase;
  color: red;
}
.contact {
  display: flex;
  flex-wrap: nowrap;
  flex: 0 0 25%;
  align-items: flex-start;
}
.business {
  display: flex;
  flex-wrap: nowrap;
  flex: 0 0 25%;
  flex-direction: column;
}